

<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3> <%= @product.name %> </h3>

<%= image_tag @product.photo.url(:medium) %>

<p>
  <b>Price:</b>
  $<%= @product.price %>
</p>

<p>Please fill out the information below for shipping</p>
  <div class="field">
	<%= f.hidden_field :name, :value => @product.name%>
	<%= f.hidden_field :price, :value => @product.price%>
	
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_num %><br />
    <%= f.text_field :phone_num %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Checkout" %>
  </div>
<% end %>
